<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EJERCICIOS BÁSICOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button href="/ejercicio01" expand="full">EJERCICIO 1</ion-button>
  <ion-button href="/ejercicio02" expand="full">EJERCICIO 2</ion-button>
  <ion-button href="/ejercicio03" expand="full">EJERCICIO 3</ion-button>
  <ion-button href="/ejercicio04" expand="full">EJERCICIO 4</ion-button>
  <ion-button href="/ejercicio05" expand="full">EJERCICIO 5</ion-button>
  <ion-button href="/ejercicio06" expand="full">EJERCICIO 6</ion-button>
  <ion-button href="/ejercicio07" expand="full">EJERCICIO 7</ion-button>
</ion-content>
